span {
  font-size: 12px;
}
.login-title,
.search-title {
  font-size: 30px;
  text-align: center;
}
.login-wrapper img {
  width: 200px;
  margin: 0 auto 20px;
}
.login-wrapper {
  padding: 20px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.login-footer {
  padding: 40px 20px;
}
.forgot-pass {
  color: var(--gray);
  align-self: flex-end;
  margin-bottom: 25px;
}
.continue-btn-wrapper,
.signup-btn-wrapper {
  width: 100%;
  display: block;
}
.continue-btn-wrapper {
  margin-top: 25px;
}
.signup-btn-wrapper {
  margin-top: 20px;
}
.continue-btn-wrapper .continue-btn {
  background-color: var(--light-grey);
  color: var(--matterhorn);
}
.signup-btn-wrapper .signup-btn {
  background-color: transparent;
  color: red;
  border: 2px solid red;
  box-shadow: none;
}
.continue-btn-wrapper .continue-btn,
.signup-btn-wrapper .signup-btn {
  border-radius: 5px;
}
.terms a {
  color: black;
  text-decoration: underline;
}
